:root {
	// indents
	--global-gap: 2rem;
	--global-page-width: 1440px;

	// colors
	--main-dark: #393E46;
	--main-green: #6D9886;
	--main-orange: #f4dcb4;
	--main-gray: #F7F7F7;
}

// media points
$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023px;
$point_4: 768px;
$point_5: 640px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;