* {
	box-sizing: border-box;
}

html {
	height: 100%;
	font-family: sans-serif;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: var(--main-gray);

	&.menu-open {
		overflow: hidden;
	}
}

.content-wrapper {
	height: 100%;
	display: flex;
	flex-flow: column;
}

.main {
	margin: 0 auto;
	width: 100%;
	max-width: var(--global-page-width);

	flex-grow: 1;
}

.icon {
	width: 26px;
	height: 26px;
}